# SPDX-License-Identifier: GPL-3.0-or-later

---
Checks: >
  -*,
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  llvm-*,
  misc-*,
  -bugprone-easily-swappable-parameters,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-non-private-member-variables-in-classes,
  -misc-unused-parameters,
  -misc-use-anonymous-namespace,
  readability-identifier-naming,
  -performance-enum-size,
  -misc-static-assert,
  -misc-use-internal-linkage,

WarningsAsErrors: ''
HeaderFilterRegex: '(^|.*/)(include/loonglint|src)/'
SystemHeaders: false
FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: camelBack
  - key: readability-identifier-naming.MemberCase
    value: CamelCase
  - key: readability-identifier-naming.ParameterCase
    value: CamelCase
  - key: readability-identifier-naming.UnionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: CamelCase
  - key: readability-identifier-naming.IgnoreMainLikeFunctions
    value: '1'
...
